PBP_CHECK_MESSAGE=Hello Jordan Suwito!

DB_USERNAME=postgres   // Tetap postgres atau Username yang udah kalian ganti
DB_PASSWORD=password // Ganti Password Kalian
DB_HOST=127.0.0.1  // Host nya localhost
DB_PORT=5432 // Tetap di Port 5432
DB_NAME=tubes_pbp_mcd // Nama DB (Nama DB yang udah dibuat -> tubes_pbp_mcd)
DB_DIALECT=postgres //Tetap Postgres